{% extends "base.html" %}
{% block content %}
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Add Your Favoriate Spot</h1>
            <p class="lead text-muted">This is to share the hiking spot you discovered</p>
        </div>
    </section>
    <form class="form-group" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3 col-md-12">
            {{ form.address.label(class="form-control-label") }}
            {{ form.address(class="form-control", id="address", placeholder="type in address", required='required') }}
            <!-- <label for="addressInput">Address</label>
            <input type="text" class="form-control" id="address" placeholder="type in address" required> -->
            <div class="invalid-feedback">Valid address is required</div>
        </div>
        <div class="form-group mb-3 col-md-12">
            {{ form.length_selection.label(class="form-control-label") }}
            {{ form.length_selection(class="custom-select d-block w-100", id="length")}}
            <!-- <label for="lengthInput">Length</label>
            <select class="custom-select d-block w-100" id="length">
                <option value>estimated length in miles</option>
                <option> &lt; 3 miles</option>
                <option> 3 miles ~ 5 miles</option>
                <option> 5 miles ~ 8 miles</option>
                <option> 8 miles ~ 10 miles</option>
                <option> 10 miles ~ 13 miles</option>
                <option> &gt; 13 miles</option>
            </select> -->
        </div>
        <div class="form-group mb-3 col-md-12">
            {{ form.desc.label(class="form-control-label") }}
            {{ form.desc(class="form-control", id="desc", rows="3") }}
            <!-- <label for="descInput">General Description</label> -->
            <!-- <textarea class="form-control" id="desc" rows="3"></textarea> -->
        </div>
        <hr class="mb-4">
        <div class="col-md-2 mb-3">
            {{ form.submit(class="btn button_custom") }}
            <!-- <button class="btn button_custom" type="submit">Submit</button> -->
        </div>
    </form>
</main>

{% endblock %}